html {
  height: 100%;
  background: #fff;
  display: grid;
  place-items: center;
}

.box {
  width: 350px;
  height: 400px;
  display: grid;
  place-content: center;
  color: black;
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), #fff 0%, #fff 99%);
  border: solid 1px transparent;
  border-radius: 32px;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #ffbb00 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 8s linear infinite;
  animation: bg-spin 8s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
