html,
body {
  margin: 0;
  padding: 0;
}
#mainText {
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

#ReadabilityFrame {
  display: block !important;
}
