#ReadabilityFrame {
  z-index: 90003;

  background: linear-gradient(
    180deg,
    rgba(244, 245, 244, 0.98) 0%,
    rgba(255, 255, 255, 0.98) 100%
  );
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  padding: 16px;

  left: 0;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  border-radius: 16px;

  position: fixed;

  max-width: 360px;
  width: 80vw;

  left: 50%;
  transform: translateX(-50%);

  bottom: 24px;

  animation: slideIn 0.8s;
}

#ReadabilityFrame hr {
  background: none;
  color: none;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  margin: 8px 0;
  display: block !important;
}

#response,
#receipt,
#receiptTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
  font-style: normal;
  text-align: left;
  color: #444;
  white-space: pre-line;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
}

#receiptTitle {
  font-weight: bolder;
  white-space: normal;
  margin-bottom: 1em;
}

#response p,
#receipt p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.safariExtensionUserInfo p {
  margin: 0;
  padding: 0;
}

.safariExtensionTitle,
.safariExtensionHost {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

.safariExtensionHost {
  font-weight: 400;
  color: #4b4b4b;
}

#ReadabilityLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

#ReadabilityLoading span {
  padding-top: 6px;
  font-size: 10px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
}

#ReadabilityClose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 40px;

  background: #f2f2f2;
  border-radius: 99px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 auto;
  margin-top: 8px;
}

#receipt h1,
#receipt h2,
#receipt h3,
#receipt h4,
#receipt h5,
#receipt strong {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#receipt ol,
#receipt ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

#receipt li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

#ReadabilityBar {
  display: block;
  z-index: 90002;
  animation: fadeIndn 0.8s;
}

#ReadabilityBar #viewBar {
  background: rgba(244, 245, 244, 0.85);
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 99px;
  position: fixed;

  border-radius: 16px;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 90003;
  width: 54px !important;
  height: 54px !important;
  left: 16px;
  bottom: 24px;
}

#ReadabilityBar #viewBar a {
  text-align: center;

  font-family: system-ui;
  font-style: normal;
  font-weight: 590;
  font-size: 16px;

  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;

  line-height: 1px;
  border: none;
}

.fadeIn {
  animation: fadeIn 0.8s;
}

.fadeOut {
  animation: fadeOut 0.8s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: flex !important;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none !important;
  }
  1% {
    display: flex !important;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    bottom: -200px;
    display: none !important;
  }
  1% {
    display: block !important;
  }
  100% {
    opacity: 1;
    bottom: 24px;
  }
}
