#ReadabilityFrame {
  display: none;
  z-index: 90000;
  position: absolute;
  top: 0px;
  background: rgba(244, 245, 244, 0.98);
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 16px 0;
  width: 100%;
  left: 0;
}

#response,
#receipt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
  font-style: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  margin: 0 16px;
  color: #000;
}

#response {
  white-space: pre-wrap;
}

#receipt h1,
#receipt h2,
#receipt h3,
#receipt h4,
#receipt h5,
#receipt strong {
  font-weight: bolder;
}

#receipt ol,
#receipt ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#ReadabilityBar {
  display: block;
  z-index: 90002;
}

#ReadabilityBar #viewBar {
  background: rgba(244, 245, 244, 0.85);
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 99px;
  position: fixed;
  bottom: 16px;
  border-radius: 99px;
  text-align: center;

  z-index: 90003;
  line-height: 32px;
  width: 120px !important;
  height: 32px !important;
  left: 50%;
  margin-left: -60px;
}

#ReadabilityBar #viewBar a {
  text-align: center;

  font-family: system-ui;
  font-style: normal;
  font-weight: 590;
  font-size: 16px;

  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
