#ReadabilityBox {
  z-index: 90000;

  display: none;
  flex-direction: column;
  align-items: flex-start;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  position: fixed;
  max-width: 360px;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;

  gap: 0px;
  column-gap: 0px;

  animation: slideIn 0.8s;
}

.ReadabilityFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Segoe UI Emoji",
    "Noto Color Emoji", sans-serif !important;
}

.ReadabilityStyle {
  padding: 8px;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(244, 245, 244, 0.98) 0%,
    rgba(255, 255, 255, 0.98) 100%
  );
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  margin-bottom: 10px;

  gap: 8px;
}

.readabilityReply {
  font-style: normal;
  text-align: left;
  color: #444;

  font-size: 13px;
  line-height: 24px;
  display: block;

  animation: fadeIn 0.8s;
}

.morePadding {
  padding: 16px !important;
}

.readabilityUserReply {
  text-align: right !important;
}

#ReadabilityBox hr {
  background: none;
  color: none;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  margin: 8px 0;
  display: block !important;
}

#ReadabilityKeyboard textarea {
  border: none !important;
  width: 100% !important;
  resize: none !important;
  overflow: hidden !important;
  min-height: 1em !important;
  max-height: 100px !important;
  display: inline-block !important;
  font-size: 12px !important;
}

.readabilityInput {
  display: flex;
  justify-content: left;
  align-items: left;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 auto;

  font-size: 12px;
}

.readabilityInsideStyle {
  background: #ebebeb !important;
  border-radius: 8px !important;
  padding: 12px !important;
  padding-bottom: 8px !important;
  box-shadow: none !important;
}

.readabilityTips {
  color: #4b4b4b !important;
  opacity: 0.7 !important;
}

#response,
#receipt,
#receiptTitle {
  font-style: normal;
  text-align: left;
  color: #444;
  white-space: pre-line;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  display: inline-block;
}

#receiptTitle {
  font-weight: bolder;
  white-space: normal;
  margin-bottom: 1em;
}

#ReadabilityBox p {
  margin: 0 !important;
  padding: 0 !important;
  display: inline-block !important;
}

.safariExtensionUserInfo p {
  margin: 0;
  padding: 0;
}

.safariExtensionTitle,
.safariExtensionHost {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

.safariExtensionHost {
  font-weight: 400;
}

#ReadabilityLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

#ReadabilityLoading span {
  padding-top: 6px;
  font-size: 10px;
  color: #000;
}

#receipt h1,
#receipt h2,
#receipt h3,
#receipt h4,
#receipt h5,
#receipt strong {
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#receipt ol,
#receipt ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

#receipt li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-block: 0;
  padding-block: 0;
  padding-inline: 0;
}

/* ReadabilityBar */

#ReadabilityBar {
  display: block;
  z-index: 90002;
  animation: fadeIndn 0.8s;
}

#ReadabilityBar #viewBar {
  background: rgba(244, 245, 244, 0.85);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 99px;
  position: fixed;

  border-radius: 16px;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 90003;
  width: 54px !important;
  height: 54px !important;
  left: 16px;
  bottom: 14px;
}

#ReadabilityBar #viewBar a {
  text-align: center;

  font-family: system-ui;
  font-style: normal;
  font-weight: 590;
  font-size: 16px;

  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;

  line-height: 1px;
  border: none;
}

/* animation */

.fadeIn {
  animation: fadeIn 0.8s;
}

.fadeOut {
  animation: fadeOut 0.8s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: flex !important;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none !important;
  }
  1% {
    display: flex !important;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    bottom: -200px;
    display: none !important;
  }
  1% {
    display: block !important;
  }
  100% {
    opacity: 1;
    bottom: 14px;
  }
}
